## Print Statement

In [1]:
print("Career")
print("Labs")

Career
Labs

## Variables

In [2]:
a=10
b=20
a+b

30

Variable name can contain digits lowercase,uppercase and underscore.
Variable name cannot start with digit.

## Data Types in Python

In [1]:
#Assigning different types of data to python variable

a=20
a='himani'
a

'himani'

In [2]:
type(a)

str

In [3]:
a='himani'
a=10
type(a)

int

In [4]:
a='hi'
print(type(a))

<class 'str'>

In [5]:
a='anita'
print(type(a))
a='c'
print(type(a))

<class 'str'>
<class 'str'>

## Python Numbers

In [6]:
a=23
b=3.4
c=5+9j
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

23
3.4
(5+9j)
<class 'int'>
<class 'float'>
<class 'complex'>

In [7]:
a=10
a=a+1
a

11

In [8]:
#So you can see there are two different storage locations
a=10
print(id(a))
a=a+1
print(id(a+1))

140732352636992
140732352637056

In [9]:
#Optimizing storage for numbers between -5 to 256. 
#See a and b point at same memory location as they store same number. Momemt I make changes in a it points to some other location
a=10
b=10
print(id(a))
print(id(b))
a=a+1
print(id(a))

140732352636992
140732352636992
140732352637024

In [10]:
a = 10
id1 = id(a)
print(id1)
b = a + 2-2
id2 = id(b)
print(id2)

140732352636992
140732352636992

## Arithmetic Operators

In [11]:
10-3

7

In [12]:
10.0-3.3

6.7

In [13]:
a=10
b=4
a/b  #Floating point division

2.5

In [14]:
a*b

40

In [15]:
#If you want only integer part
a//b #Integer Division

2

In [16]:
#Exponent
a**b

10000

In [17]:
#Remainder
a%b

2

In [18]:
2+3*4

14

In [19]:
2*3/4 #Doesnt matter the order

1.5

In [20]:
2*3//4 #* first then // .Recommend to put brackets

1

In [21]:
print(17//10)

1

## Taking Inputs

In [22]:
a=input()
print(a)

23
23

In [23]:
a=input()
print(a)
print(type(a))

23
23
<class 'str'>

In [24]:
#To take an integer
a=int(input())
print(type(a))

34
<class 'int'>

In [25]:
#Add two numbers
a=int(input())
b=int(input())
a+b

34
45

79

In [26]:
int(3.9)

3

In [27]:
a=float(input())

4.5